/build/
/obj-*/
debian/tmp/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/phi-transport-cli/
debian/*/DEBIAN/
debian/*/usr/

/*.deb
/*.changes
/*.buildinfo
/*.dsc
/*.tar.*
/*.build
